<section class="main main-text-wrapper">
  <div class="main__wrapper-purple padding-left padding-right">
    <h1 class="main__wrapper-purple__text">Administrative Dashboard : Residences
    </h1>
  </div>
  <div class="main__wrapper main__negative-top-margin">
    <div class="padding-left padding-right padding-top padding-bottom">
      <p style="text-align:center;">
        <a href="/dashboard/residences/new" class="button button__wrapper__a-remove-underline">Add Residence</a>
      </p>
    </div>
  </div>
  <div class="main__wrapper">
    <table class="padding-left padding-right padding-bottom">
      <caption class="padding-top">Residences directory</caption>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Province</th>
        <th scope="col">Controls</th>
      </tr>
      {{#each residences as |residence|}}
      <tr>
        <th scope="row"><a href="/residences/{{slug}}?ref=admin" class="main__wrapper__link">{{name}}</a></th>
        <td>{{address_city}}</td>
        <td>{{address_state}}</td>
        <td><a class="main__wrapper__link" rel="nofollow" href="/dashboard/residences/{{slug}}">Edit</a></td>
      </tr>
      {{/each}}
    </table>
  </div>
</section>